{% extends 'medewerker.html.twig' %}

{% block menu %}
    <li><a href="{{ path('activiteitenoverzicht') }}">home</a></li>
    <li><a href="{{ path('beheer') }}"><span class="badge">{{ aantal }}</span>beheer</a></li>
{% endblock %}
{% block content %}
    <section >
        <table class="table table-bordered" style="table-layout: fixed">
            <caption>Activiteit</caption>
            <tr >
                <td>soort</td>
                <td class="text-primary">{{ activiteit.activityType.name}}</td>
            </tr>
            <tr>
                <td>datum:</td>
                <td>{{ activiteit.datetime|date("h:i d-m-Y")}} </td>
            </tr>

        </table>
        {%  if deelnemers|length > 0 %}
            <table class="table table-striped" style="table-layout: fixed">
                <caption>Dit zijn de deelnemers</caption>
                <thead>
                <tr>
                    <td>naam</td>
                    <td>adres</td>
                    <td>postcode</td>
                    <td>woonplaats</td>
                    <td>email</td>
                    <td>telefoon</td>
                </tr>
                </thead>
                <tbody>

                {% for deelnemer in deelnemers %}
                <tr>
                    <td>{{ deelnemer.name}}</td>
                    <td>{{ deelnemer.address}}</td>
                    <td>{{ deelnemer.postalCode}}</td>
                    <td>{{ deelnemer.city}}</td>
                    <td>{{ deelnemer.email}}</td>
                    <td>{{ deelnemer.phoneNumber}}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
             <p> geen deelnemers </p>
        {% endif %}

        <br  />
    </section>

{% endblock %}
