{% extends 'bezoeker.html.twig' %}
{% block menu %}
    <li><a href="{{ path('homepage') }}">home</a></li>
    <li class="active"><a href="{{ path('kartactiviteiten') }}">aanbod</a></li>
    <li><a href="{{ path('registreren') }}">registreren</a></li>
    <li><a href="#">contact</a></li>
{% endblock %}
{% block content %}
    <section>
        <article>
            <h3>Er zijn {{ soortactiviteiten|length }} soorten activiteiten</h3>
            <div class="panel-group" id="accordion" role="tablist">
                {% set first = true %}
                {% for activiteit in soortactiviteiten %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-{{ activiteit.id }}">
                                    {{ activiteit.name }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-{{ activiteit.id }}" class="panel-collapse collapse{{ first ? ' in' }}" role="tabpanel">
                            <div class="panel-body">
                                <div>Prijs: &euro;{{ activiteit.price }}</div>
                                <div>Tijdsduur: {{ activiteit.duration }} minuten</div>
                                <div>Minimum leeftijd: {{ activiteit.minAge }} jaar</div>
                            </div>
                        </div>
                    </div>
                    {% set first = false %}
                {% endfor %}
            </div>
            <p>
                Let op, voor het karten zijn dichte schoenen verplicht.
                Karten met een korte broek is niet toegestaan. Wij hebben overalls ter beschikking,
                maar probeer indien mogelijk een lange broek aan te doen of mee te nemen.
            </p>
        </article>
        <figure>
            <img class="img-responsive center-block" style="width:30%" src={{ asset('img/kart.jpg') }} alt="kart"/>
        </figure>
    </section>
{% endblock %}
